on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    # Run monthly on the 1st at 00:00 UTC to catch new version issues
    - cron: '0 0 1 * *'

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nim:
          - 'stable'
          - 'devel'
        os:
          - ubuntu-latest
        julia:
          - '1'     # Latest stable (auto-updates to newest 1.x)
          - 'lts'   # LTS version

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup nim
        uses: jiro4989/setup-nim-action@v2
        with:
          use-nightlies: true
          nim-version: ${{ matrix.nim }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Setup Julia
        id: install_julia
        uses: julia-actions/setup-julia@latest
        with:
          show-versioninfo: 'true'
          arch: ${{ runner.arch }}
          version: ${{ matrix.julia }}
      
      - name: Fix untar dependency bug (Nim 2.2+ compatibility)
        run: |
          # Workaround for untar gzip.nim bug in Nim 2.2+
          # See: https://github.com/nim-lang/untar/issues/X
          UNTAR_PATH=$(find ~/.nimble/pkgs* -name "gzip.nim" -path "*/untar/*" 2>/dev/null | head -1)
          if [ -n "$UNTAR_PATH" ]; then
            sed -i 's/closeImpl = gzclose/closeImpl = gzClose/g' "$UNTAR_PATH"
            echo "Fixed untar gzip.nim at: $UNTAR_PATH"
          fi
          
      - name: Install dependencies
        run: nimble install -y
        env:
          JULIA_PATH: ${{ steps.install_julia.outputs.julia-bindir }}/..
          
      - name: Run tests
        run: nimble test
        env:
          JULIA_PATH: ${{ steps.install_julia.outputs.julia-bindir }}/..

      - name: Run examples
        run: nimble runexamples
        env:
          JULIA_PATH: ${{ steps.install_julia.outputs.julia-bindir }}/..
